.deleteButton {
    background-color: #373867;
    color: #ffffff;
    font-weight: 800;
    padding: 10px;
    border-radius: 5px;
    margin-right: 2px;
}

.deleteButton:hover {
    background-color: #ffffff;
    color: #373867;
    font-weight: 800;
    padding: 10px;
    border-radius: 5px;
    margin-right: 2px;
}