.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.awesomeAddTask{
  cursor: pointer;
  margin-left: 10px;
  color: #373867;
  font-size: 40px;
}

.awesomeAddTask :hover{
  cursor: pointer;
  color: #4646b6;
}