.form {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.input {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.cancel {
    margin: 5px;
    padding: 10px;
}

.save {
    margin: 5px;
    padding: 10px;
}