.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.main {
  display: flex;
  flex: 8
}

.side {
  flex: 1;
}

.content {
  flex: 5;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .main {
    display: none;
  }

  li > img {
    display: none;
  }
}
