.container {
    display: flex;
    height: 100%;
  }

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    background-color: #37386766;
    flex: 1;
  }

.headline {
    background-color: #AACE9B;
    flex: 5;
  }

.appName {
    font-size: 1.5rem;
    font-weight: bold;
    color: #373867;
  }

@media screen and (max-width: 1280px) {
  .appName {
    font-size: 80%;
  }

  .container .logo {
    width: 50px;
  }
}