.container {
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: #AACE9B;
  height: 100%;
}

.logos {
  display: flex;
  width: 100%;
  justify-content:space-evenly;
}

.icon {
  padding: 20%;
  height: 35px;
}

.copyright {
  font-size: 1rem;
  margin-bottom: 20px;
}