.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.awesomeAddTimeSheet{
  cursor: pointer;
  margin-left: 10px;
  color: #373867;
  font-size: 40px;
}

.awesomeAddTimeSheet :hover{
  cursor: pointer;
  color: #4646b6;
}